!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Bike Bastards
		%meta{name:"description", content:"True bikes for all riders"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%script{src:"js/vendor/modernizr-2.8.3.min"}
	%body			
		%p Hola mundo
